body{
    background-color: lightslategray;
}
.title{
    display: flex;
    justify-content: center;  
}
h1{
    font-size: 5em;
    color: white;
}
.form-content{
 display: flex;
 justify-content: center;
 width: 90%;
 height: 100%;

}
form{
    display: inline-flex;
    text-align: center;
}
.div_meteo {
    gap: 4rem;
}
img {
    width: 110px;
}